{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon1.ico" />
</head>
<body>

    <div class="topnav">
        <a href="" class="btn btn-success">
            <img class="img-responsive" src="{% static 'img/logo3.png' %}"  >
        </a>
        <a href="/admin/">Admin</a>
        <a href="#">Ver</a>
        <a href="{% url 'logout' %}" class="logout">
            <img class="img-responsive" src="{% static 'img/logout1.png' %}">
        </a>
    </div>
    <a href="agregar_producto" class="add">
        <img class="img-responsive" src="{% static 'img/agregar.png' %}">
    </a>
    <a href="consultar_producto" class="see">
        <img class="img-responsive" src="{% static 'img/consultar.png' %}">
    </a>
</body>
</html>