{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mod product</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/modd.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon1.ico" />
</head>
<body background="{% static 'img/pieces-of-lego3.jpg' %}">
    <div class="topnav">
        <a href="/index" class="home">Home</a>
        <a href="{% url 'logout' %}">Salir</a>
        <a href="/index/consultar_producto">Ver Productos</a>
        <a href="/index/agregar_producto">Añadir Nuevo</a>
    </div>
    <div class="container">
        <div class="container2">
            <form method="POST">
                {% csrf_token %}
                <p>
                <label for="{{ form.Codigo.Código }}">Código:</label>
                {{form.Codigo}}
                </p>
                <p>
                <label for="{{ form.Nombre.Nombre }}">Nombre:</label>
                {{form.Nombre}}
                </p>
                <p>
                    <label for="{{ form.Descripcion.Descripcion }}">Descripción:</label>
                    {{form.Descripcion}}
                </p>
                <p>
                    <label for="{{ form.Precio_de_venta.Precio_de_venta }}">Precio de venta:</label>
                    {{form.Precio_de_venta}}
                </p>
                <p>
                <input type="submit" value="Guardar">
                <a href="#popup" class="multi">
                    <img class="img-responsive" src="{% static 'img/addmultimedia2.png' %}">
                </a>
                </p>
        </div>
    </div>
    <div id="popup" class="overlay">
        <div id="popupBody">
            <h2>Añadir Multimedia</h2>
            <a id="cerrar" href="#">&times;</a>
            <div class="popupContent">
                    {% csrf_token %}
                    <p>
                        <label class="pop" for="{{ form.URL_Video.URL_Video }}">URL Video:</label>
                        {{form.URL_Video}}
                    </p>
                    <p>
                        <label class="pop" for="{{ form.URL_Imagen.URL_Imagen }}">URL Imagen:</label>
                        {{form.URL_Imagen}}
                    </p>          
                    <input type="submit" value="Guardar">
                </form>
            </div>
        </div>
</body>
</html>