{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/see.css' %}">
    <title>{{producto.Nombre}}</title>
</head>
<body>
    <div class="topnav">
        <a href="/index" class="home">Home</a>
        <a href="{% url 'modi_produc' producto.IDP %}">
            Editar
        </a>
        <a href="{% url 'eli_produc' producto.IDP %}">
            Eliminar
        </a>
        <a href="{% url 'logout' %}">Salir</a>
    </div>
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Detalles de {{producto.Nombre}}</h1>
        </div>
        <div class="card-body">
            <p>
                <label for="{{ form.Codigo.Código }}">Código:</label>
                {{producto.Codigo}}
            </p>
            <p>
                <label for="{{ form.Descripcion.Descripcion }}">Descripción:</label>
                {{producto.Descripcion}}
            </p>
            <p>
                <label for="{{ form.Precio_de_venta.Precio_de_venta }}">Precio de venta:</label>
               <strong>$</strong> {{producto.Precio_de_venta}}
            </p> 
        </div>
    </div>
    <div class="multimedia">
        <div class="video">
            <iframe width="560" height="315" src="{{producto.URL_Video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="imagen">
            <img class="img-responsive" src="{{producto.URL_Imagen}}"> 
        </div>
    </div>
</body>
</html>